<div class="container pt-4 py-3">
    <div class="row m-1">
        <h2>区块详情</h2>
    </div>
    <div class="row text-secondary ml-1">
        <small>区块内容的详细展示</small>
    </div>
</div>

<div class="container py-2">
    <div class="row m-1 py-2">
        <h5>区块头</h5>
    </div>

    <div class="row no-gutters bg-white p-3 mr-2 d-flex flex-column border rounded overflow-hidden shadow-sm">
        <h3 class="m-2 text-center">区块ID：{{header.blockId}}</h3>
        <small class="d-inline-block text-secondary text-center">哈希树根：{{header.hashRoot}}</small>
        <small class="d-inline-block text-secondary text-center">前区块哈希：{{header.prevBlockHash}}</small>
        <small class="d-inline-block text-secondary text-center">区块大小：{{header.size}}</small>
        <small class="d-inline-block text-secondary text-center">创建时间：{{header.timestamp}}</small>
    </div>
</div>

<div class="container pt-4">
    <div class="row ml-2">
        <h5>区块体</h5>
    </div>
</div>

<div class="container py-2">

    {{#each body}}
    <div class="container bg-white no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative">
        <div class="row px-3 py-2">
            <div class="col-2 px-0">
                <small class="my-auto"><b>数据块ID: {{id}}</b></small>
            </div>
        </div>
        <div class="row px-3">
            <div class="col">
                <p>数据块大小：{{size}}</p>
            </div>
        </div>
        <div class="row px-3">
            <div class="col">
                <p>数据块内容：</p>
                <pre><code>{{data}}</code></pre>
            </div>
        </div>
        {{#if decompressed}}
        <div class="row px-3">
            <div class="col">
                <p>解压后大小：{{decompressed.size}}</p>
            </div>
        </div>
        <div class="row px-3">
            <div class="col">
                <p>解压缩内容：</p>
                <pre><code>{{decompressed.data}}</code></pre>
            </div>
        </div>
        {{/if}}
    </div>
    {{/each}}
</div>